*,
:before,
:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {font-family: 'Pretendard';}
html, body {background-color: #222;}
html.lock, html.lock body {height:100%; overflow: hidden;}
#wrap {max-width: 1280px;margin: 0 auto;}
@media screen and (max-width:768px) {
	#wrap{padding:0 15px;}
	#photos li.photo-item .text {font-size: 14px;}
}

#wrap img {display:block;}

#header {text-align: center;padding: 35px 0;}
#header img {background: #fff;border-radius: 50%;}

/* p.desc {background: linear-gradient(-45deg, #ee7752, #f875a7, #23a6d5, #23d5ab);background-size: 200%;background-clip: text;-webkit-background-clip: text;color: transparent;animation: changeGradient 4s ease infinite;font-size: 48px;font-weight: 900;} */
p.desc {color:#666; font-weight: 300;font-size: 48px; margin-top: 10px;text-shadow: 1px 1px 4px pink;}
@keyframes changeGradient {
	0% {background-position: 0 50%;font-weight: 900;}
	50% {background-position: 100% 50%;font-weight: 300;}
	100% {background-position: 0 50%;font-weight: 900;}
}
#main {margin-top: 60px;}
#mapArea {margin-top: 60px;color: #fff;
	content-visibility: auto;
	contain-intrinsic-size: 100px 400px;
}
#mapArea p {margin-top: 8px;margin-bottom: 25px;color: #fff;}
#map {height: 680px;}
#map img[role="presentation"] {border-radius: 50%; border:4px solid #fff;}

#photos > ul {display: flex; gap: 15px; flex-wrap: wrap; list-style: none;}
#photos li.photo-item {position: relative; flex: 1 0 calc(33% - 7.5px);width: calc(33% - 7.5px); cursor: pointer;
	content-visibility: auto;
	contain-intrinsic-size: 100px 400px;
}
#photos li.photo-item .text {position: absolute;bottom: 0;left: 0;right: 0;padding: 8px;color: #fff;font-size: 18px; font-weight: 400;}

#photos li.photo-item.wide {flex: 1 0 calc(66% - 7.5px);width: calc(66% - 7.5px);}
#photos li.photo-item > img {width: 100%;filter: grayscale(100%);}
#photos li.photo-item > img:first-child {position:absolute;top:0;left:0;z-index:1;opacity:0;transition:opacity .5s ease-out;filter: none}
#photos li.photo-item:hover > img {filter: none}
#photos li.photo-item:hover > img:first-child {opacity:1}

#footer {margin-top: 45px; padding-bottom: 50px; font-size: 11px; color:#fff;}

#car {position:fixed;top:20px;right:20px;transform:rotate(270deg);z-index:998;font-size:24px; transition: .25s ease-out; will-change: transform;}
#goal {position:fixed;bottom:20px;right:20px;font-size:24px;z-index:999;}

#loading {position: fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
#loading .dimd {position: absolute; inset: 0px; background:#fff;}
#loading img {position: absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px;z-index: 1; animation:bounce 2.5s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%) infinite}
#loading.finish {opacity: 0; transition: opacity 2s; pointer-events: none;}
#loading.finish img {animation:none}
@keyframes bounce {
	0%, 100% {transform: translateY(0px)}
	50% {transform: translateY(20px)}
}


/* plugins */
.lg-outer .lg-video-cont {height: 100%;}